
<div class="social-bar">
  {{ with .Site.Data.bento.socials.facebook }}
    <a href="https://www.facebook.com/profile.php?id=61554020215025" class="social-bar__link" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-facebook-f social-bar__icon"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.bento.socials.instagram }}
    <a href="https://www.instagram.com/mopheads_cleaning?igsh=eXh6NjdhY2Vpd20y" class="social-bar__link" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-instagram social-bar__icon"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.bento.socials.tiktok }}
    <a href="https://www.tiktok.com/@mopheadscleaning?_t=ZS-90OpXeVuO7I&_r=1" class="social-bar__link" aria-label="TikTok" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-tiktok social-bar__icon"></i>
    </a>
  {{ end }}
</div>