
<div class="social-bar">
  {{ with .Site.Data.bento.socials.facebook }}
    <a href="{{ .link }}" class="social-bar__link" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-facebook-f social-bar__icon"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.bento.socials.instagram }}
    <a href="{{ .link }}" class="social-bar__link" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-instagram social-bar__icon"></i>
    </a>
  {{ end }}
  {{ with .Site.Data.bento.socials.tiktok }}
    <a href="{{ .link }}" class="social-bar__link" aria-label="TikTok" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-tiktok social-bar__icon"></i>
    </a>
  {{ end }}
</div>